black==21.5b1
flake8>=3.7.9, <4.0
ipython~=7.10
isort~=5.0
jupyter~=1.0
jupyter_client>=5.1, <7.0
jupyterlab~=3.0
kedro==0.17.5
kedro-telemetry~=0.1.0
nbstripout~=0.4
pytest-cov~=2.5
pytest-mock>=1.7.1, <2.0
pytest~=6.2
wheel>=0.35, <0.37

# mlflow
kedro-mlflow==0.7.6 
# kedro viz
kedro-viz==4.2.0 
# docker
kedro-docker==0.2.2
# aws_s3
s3fs==2021.11.1 

# utils
tqdm==4.62.3

# data manipulation
numpy==1.19.5
pandas==1.2.5

# machine learning
scikit-learn==0.24.2

# deep learning
transformers==4.15.0
torch==1.8.0
